@model PagedList.IPagedList<Pharma.Models.Product>
@using PagedList.Mvc;





@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_User.cshtml";
}

<h2>Index</h2>


@using (Html.BeginForm())
{<p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Category Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Image
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@Url.Content(item.Image)" width="50" height="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
